body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.4;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Title */
  font-family: serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  font-family: serif;
  color: #000;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #337AB7;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */

/* END FOOTER */


/* HOME PAGE */
#banner {
  padding-left: 85px;
  padding-right: 105px;
}

.container {
  padding-left: 50px;
  padding-right: 80px;
  margin: 0;
}

.container .jumbotron {
  height: 1030px;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  background-color: inherit;
}

/******************************************************/

.jumbotron div {
  transform: rotate(45deg);
  position: absolute;
}

#Identify {
      float: left;
      width: 1856px;
      height: 1856px;      
      border-radius: 50%;
      border: 85px solid;
      border-color: transparent transparent transparent #E4DCC5;      
      top:106px;
      left: 83px;
    }

#Study {
      width: 1690px;
      height: 1690px;      
      border-radius: 50%;
      border: 180px solid;
      border-color: transparent transparent transparent #DBCFB0;
      top: 188px;
      left: 167px;
    }

#Relate {
      width: 1332px;
      height: 1332px;      
      border-radius: 50%;
      border: 150px solid;
      border-color: transparent transparent transparent #CEBE93;
      top: 367px;
      left: 346px;
    }

#Plan {
      width: 1032px;
      height: 1032px;      
      border-radius: 50%;
      border: 85px solid;
      border-color: transparent transparent transparent #C5B17E;
      top: 517px;
      left: 495px;
    }

#Divider {
      width: 862px;
      height: 862px;      
      border-radius: 50%;
      border: 4px solid;
      border-color: transparent transparent transparent black;
      top: 601px;
      left: 580px;
    }

#Adopt {
      width: 855px;
      height: 855px;      
      border-radius: 50%;
      border: 225px solid;
      border-color: transparent transparent transparent #FDF7CC;
      top: 604px;
      left: 583px;
    }

#Readiness {
      width: 405px;   /* radius = 202.5px */
      height: 405px;
      border-radius: 50%;
      /*background-color: lightgray;*/
      border: 202px solid;
      border-color: transparent transparent transparent #FFEFAE; // #FFEFAE;
      top: 829px;
      left: 808px;
    }

.tech p {
  color: black;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  transform: rotate(-45deg);
}

.line {
  border-bottom: 1px solid black;
  position: absolute;
}

#line1 {
  width: 500px;
  height: 55px;
  top: 470px;
  left: 340px;
  transform: rotate(42deg);
}

#line2 {
  width: 499px;
  height: 62px;
  top: 413px;
  left: 415px;
  transform: rotate(50deg);
}


/*Research phases (texts)*/

.phases p {
  color: #70AAE4;
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  transform: rotate(-45deg);
}

#identify {
  top: 1020px;
  left: 120px;
}

#study {
  top: 1040px;
  left: 240px;
}

#relate {
  top: 1035px;
  left: 410px;
}

#plan {
  top: 1041px;
  left: 530px;
}

#adopt {
  top: 1035px;
  left: 695px;
}

#readiness {
  top: 1020px;
  left: 900px;
}


/*Actions (texts)*/
.actions p {
  color: #70AAE4;
  position: absolute;
  font-size: 17px;
  font-weight: bold;
}    

#engage {
  top: 575px;
  left: 165px;
  transform: rotate(-60deg);
}

#watch {
  top: 325px;
  left: 370px;
  transform: rotate(-40deg);
}

#watch p {
  width: 126px;
}

#park {
  top: 160px;
  left: 620px;
  transform: rotate(-27deg);
}


/** Side panel **/

/*Definitions*/
.panel p {
  color: black;
  position: fixed;
  font-size: 15px;
  border: 2px solid black;
  transform: rotate(-45deg) translate(1215px, 10px);
  width: 420px;
  height: 500px;
  line-height: 25.5px;
  padding: 5px;
}

.panel p .title {
  font-weight: bold;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 5px;
}

.panel p .subtitle {
  font-weight: bold;
}

.panel p .text {
  font-weight: 400;
}

img {
  width: 430px;
  transform: translate(-10px, 40px);

}

/******************************************************/

/* END HOME PAGE 

/********** Extra large devices only **********/
@media (min-width: 1920px) {
  .container .jumbotron {
    width: 1900px;
  }
}

@media (min-width: 1536px) and (max-width: 1919px)  {
  .container .jumbotron {
    width: 1516px;
  }
}

@media (min-width: 1440px) and (max-width: 1535px)  {
  .container .jumbotron {
    width: 1420px;
  }
}

@media (min-width: 1366px) and (max-width: 1439px)  {
  .container .jumbotron {
    width: 1346px;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1365px) {
  .container .jumbotron {
    width: 1346px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container .jumbotron {
    width: 1346px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    width: 1346px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container .jumbotron {
    width: 1346px;
  }
  /* Header */
/*  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {*/ /* Restaurant name */
/*    padding-top: 10px;
    font-size: 5vw;*/ /* 1vw = 1% of viewport width */
/*  }
  .navbar-brand p {*/ /* Kosher cert */
/*    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {*/ /* Star-K */
/*    height: 20px;
  }

  #collapsable-nav a {*/ /* Collapsed nav menu text */
/*    font-size: 1.2em;
  }
  #collapsable-nav a span { *//* Collapsed nav menu glyph */
/*    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Footer */
/*.panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  /*}*/
  /* End Footer */

  /* Home Page */
/*  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
}*/



