<div class="jumbotron" >
  <div id="arc1" ></div>
  <div id="arc2" ></div>
  <div id="arc3" ></div>
  <div id="arc4" ></div>
  <div id="arc5" ></div>
  <div id="arc6" ></div>
  <div id="arc7" ></div>
  <div id="line1" class="line"></div>
  <div id="line2" class="line"></div>
  <div class="phases" id="identify" ><p>Identify/<br>Prioritize</p></div>
  <div class="phases" id="study" ><p>Study</p></div>
  <div class="phases" id="relate" ><p>Relate</p></div>
  <div class="phases" id="plan" ><p>Plan</p></div>
  <div class="phases" id="adopt" ><p>Adopt</p></div>
  <div class="phases" id="readiness" ><p>Readiness</p></div>
  <div class="actions" id="engage" ><p>Engage</p></div>
  <div class="actions" id="watch" ><p>Watch + Learn</p></div>
  <div class="actions" id="park" ><p>Park</p></div>
</div>
